# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


#Emacs garbage
*~

# C++ implementation
# *.cpp

# Project-specific binary
blackjack

#Private notes
*.txt
*.priv